
.custom-shape-divider-bottom-1757603569 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1757603569 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 441px;
}

.custom-shape-divider-bottom-1757603569 .shape-fill {
    fill: rgb(167, 142, 189);
}




.custom-shape-divider-top-1757839137 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1757839137 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 306px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1757839137 .shape-fill {
    fill:  rgb(167, 142, 189);
}

























/* 1 */

.custom-shape-divider-bottom-1757876573 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1757876573 svg {
    position: relative;
    display: block;
    width: calc(168% + 1.3px);
    height: 219px;
}

.custom-shape-divider-bottom-1757876573 .shape-fill {
    fill: rgb(169, 131, 204);
}


.custom-shape-divider-top-1757876847 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1757876847 svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 197px;
}

.custom-shape-divider-top-1757876847 .shape-fill {
    fill: rgb(228, 204, 250);
}

/* 2 */
.custom-shape-divider-top-1757877109 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1757877109 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 371px;
}

.custom-shape-divider-top-1757877109 .shape-fill {
    fill: rgb(167, 142, 189)
}

.custom-shape-divider-bottom-1757877152 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1757877152 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 371px;
}

.custom-shape-divider-bottom-1757877152 .shape-fill {
    fill: rgb(122, 78, 160);
}



/* 
3 */


.custom-shape-divider-bottom-1757877574 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1757877574 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 342px;
}

.custom-shape-divider-bottom-1757877574 .shape-fill {
    fill: rgb(167, 142, 189);
}


.custom-shape-divider-top-1757877728 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1757877728 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 172px;
}

.custom-shape-divider-top-1757877728 .shape-fill {
    fill: rgb(167, 142, 189);
}

/* 4 */

.custom-shape-divider-top-1757877984 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1757877984 svg {
    position: relative;
    display: block;
    width: calc(171% + 1.3px);
    height: 299px;
}

.custom-shape-divider-top-1757877984 .shape-fill {
    fill: rgb(126, 81, 162);
}

.custom-shape-divider-bottom-1757878126 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1757878126 svg {
    position: relative;
    display: block;
    width: calc(173% + 1.3px);
    height: 154px;
}

.custom-shape-divider-bottom-1757878126 .shape-fill {
    fill: rgb(126, 81, 162);
}


/* 5 */

.custom-shape-divider-top-1757878527 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1757878527 svg {
    position: relative;
    display: block;
    width: calc(207% + 1.3px);
    height: 311px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1757878527 .shape-fill {
    fill: rgb(229, 198, 255);
}

.custom-shape-divider-bottom-1757878431 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1757878431 svg {
    position: relative;
    display: block;
    width: calc(114% + 1.3px);
    height: 282px;
}

.custom-shape-divider-bottom-1757878431 .shape-fill {
    fill: #bd57df;
}


/* 6 */


.custom-shape-divider-top-1758268903 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(90deg);
     transform-origin: right;
}

.custom-shape-divider-top-1758268903 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 271px;
}

.custom-shape-divider-top-1758268903 .shape-fill {
    fill: #ffffff;
}